<!DOCTYPE html>
<html>
<head>
    <title>Ambulance Simulation</title>
    <meta charset='utf-8' />
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css' rel='stylesheet' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="map"></div>
    <div id="controls">
        <button id="startBtn">Start Simulation</button>
        <button id="pauseBtn">Pause</button>
        <button id="stepBtn">Step</button>
        <div id="stats">
            <h3>Statistics</h3>
            <div id="statsContent"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html> 